.chat-field {
    border: 1px solid #333;
    margin: 15px;
    width: 40%;
    height: 70%;
    background: #555;
    color: #fff;
}

.messages {
    min-height: 93%;
    max-height: 93%;
    overflow: auto;
}

.messages-content {
    padding: 1px;
}

.message {
    boerder-left: 3px solid #333;
    margin-top: 2px;
    padding: 2px;
}

.message_black {
    boreser-color: black;
}

.message_blue {
    boreser-color: blue;
}

.message_green {
    boreser-color: green;
}

.message_red {
    boreser-color: red;
}

.message_input {
    min-height: 6%;
}

input {
    font-family: Arial;
    font-size: 16px;
    vertical-align: middle;
    background: #333;
    color: #fff;
    border: 0;
    display: inline-block;
    margin: 1px;
    height: 30px;
}

.message-form_inp {
    width: 79%;
}

.message-form_sub {
    width: 18%;
}